<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="search" (submit)="search()">
      <input class="search__input" type="text" placeholder="Search..." [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
      <button class="search__button"><ion-icon name="search"></ion-icon></button>
  </form>
  <div class="results">
    <div class="movie" *ngFor="let movie of results; let i = index" (click)="toggleSelected(i)" [ngClass]="index === i ? 'selected' : ''">
      <div class="movie__image">
        <img *ngIf="movie.poster_path !== null" class="movie__poster" src="{{ movieTv.getImage(movie.poster_path) }}" alt="">
        <img *ngIf="movie.poster_path === null" class="movie__poster-null">
        <div class="image-overlay">
          <button class="image-overlay__button">Save</button>
        </div>
      </div>
      <div class="movie__info">
        <p class="movie__date">
          {{ movieTv.formatDate(movie.release_date) }}
        </p>
        <p class="movie__title">
          {{ movie.title }}
        </p>
      </div>
    </div>
  </div>
</ion-content>
